
@{
    ViewBag.Title = "Check Temperature";
}

<form asp-action="Check" method="post">
    <label for="bodyTemperature">Your temperature</label>
    <input id="bodyTemperature" name="bodyTemperature" type="number" />

    <input type="submit" value="Check" />
</form>

@if (ViewBag.diagnose != null)
{
    <h3>@ViewBag.diagnose</h3>
}