@{
    ViewData["Title"] = "SecretWord";
}

<h1>Guess the animal</h1>

<form asp-action="SecretWord" method="post">
    <label for="Word">Secret Word:</label>
    <input id="Word" name="userGuess" type="text" />

    <input type="submit" value="Secret Word" />
</form>
