
@{
    ViewBag.Title = "Contact";
}

<h1>Get in touch</h1>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar neque laoreet suspendisse interdum</p>
<h2>Address</h2>
<p>Grenville 10, 34054, Neverland</p>
<h2>Telephone</h2>
<p>1010101010</p>
<h2>Email</h2>
<p>youknowit@gmail.com</p>