
@{
    ViewBag.Title = "Index";
}

<h1>Welcome to my page</h1>
<h2><a asp-action="Check" asp-controller="Temperature">Check if you are ill</a></h2>
<h2><a asp-action="CheckModel" asp-controller="TemperatureModel">Check if you are ill (model)</a></h2>
<h2><a asp-action="TestNumber" asp-controller="CompareNumber">Guessing Game</a></h2>