
@{
    ViewBag.Title = "Projects";
}

<h1>Links to my Github projects</h1>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar neque laoreet suspendisse interdum</p>
<h2><a href="https://github.com/Bluelotuss/sokoban.git">Sokoban</a></h2>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar</p>
<h2><a href="https://github.com/Bluelotuss/bootstrap-page.git">Bootstrap</a></h2>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar</p>
<h2><a href="https://github.com/Bluelotuss/HTML-FIRST-PAGE.git">HTML</a></h2>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar</p>
<h2><a href="https://github.com/Bluelotuss/VendingMachine.git">Vending machine</a></h2>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar</p>
<h2><a href="https://github.com/Bluelotuss/TodoIt-VS.git">TodoIt</a></h2>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar</p>
<h2><a href="https://github.com/Bluelotuss/assignment-one-calculator.git">Calculator</a></h2>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar</p>
<h2><a href="https://github.com/Bluelotuss/assignment-two-hangman.git">Hangman</a></h2>
<p>tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar</p>

